
<div class="flex flex-col items-start my-8 mt-28 w-full justify-center responsive__container">
  {% paginate blog.articles by section.settings.number_of_blog_posts %}
    <h2 class="text-3xl font-medium text-gray-700 pl-12">
      {{ blog.title }}
    </h2>
    <div class="hidden md:flex md:justify-center md:flex-wrap md:gap-4 w-full p-8 gap-2">
      {% for article in blog.articles %}
        {% case forloop.index %}
          {% when 1 %}
            {% render "blog-post-primary": article: article %}
          {% else %}
            {% render "blog-post-secondary": article: article %}
        {% endcase %}
      {% endfor %}
    </div>
    {% # INFO: Mobile layout %}
    <div class="grid md:hidden grid-cols-1 w-full p-8 gap-2">
      {% for article in blog.articles %}
        {% render "blog-post-secondary": article: article %}
      {% endfor %}
    </div>

    <div class="max-w-6xl mx-auto mt-14">
      {% render "pagination", pagination: paginate %}
    </div>
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "Blog",
    "settings": [
      {
        "type": "range",
        "id": "number_of_blog_posts",
        "step": 1,
        "max": 6,
        "min": 1,
        "label": "Blog posts per page",
        "default": 3
      },
      {
        "type": "text",
        "id": "blog_redirect_message",
        "label": "Blog posts redirect description",
        "default": "Read more"
      }
    ]
  }
{% endschema %}

